<!-- <div class="submissions-container"> -->
    <span class="order-detail-heading">Submissions</span>
    <div class="order-sub-alert-text">This order was accepted on Sep. 21st at 6:54 PM no revisions can be made.</div>
    <div>
        <div class="parcel-id-container" style="display: inline-block;margin-right: 30px;width: 69%;">
            <div class="sub-headings">Parcel IDs</div>
            <div>
                <div class="parcel-id-item">
                    <span class="parcel-id-number-label">PARCEL ID #1</span>
                    <span class="parcel-id-number">000092-011239</span>
                </div>
                <div class="parcel-id-item">
                    <span class="parcel-id-number-label">PARCEL ID #2</span>
                    <span class="parcel-id-number">000092-011240</span>
                </div>
                <div class="parcel-id-item">
                    <span class="parcel-id-number-label">PARCEL ID #3</span>
                    <span class="parcel-id-number">000092-011241</span>
                </div>
            </div>
        </div>
        <div class="parcel-id-container" style="display: inline-block;width: 28%;">
            <div class="sub-headings">Search Effective Date</div>
            <div class="parcel-id-item">
                <span class="parcel-id-number-label">SEARCH EFFECTIVE</span>
                <span class="parcel-id-number">09/18/2017 at 7:00 PM</span>
            </div>
        </div>
        <div class="parcel-id-container">
            <div class="sub-headings">Title Search Document</div>
            <div class="title-search-item" style="display: inline-block;">
                <span class="title-search-label">Title Search</span>
                <span class="title-search-file"><i class="fa fa-file title-search-file-icon"></i>Title Search.pdf</span>
                <span class="title-search-file"><i class="fa fa-file title-search-file-icon"></i>Title Search.pdf</span>
            </div>
            <div class="title-search-item" style="display: inline-block;">
                <span class="title-search-label">Supplementary Documents</span>
                <span class="title-search-file"><i class="fa fa-file title-search-file-icon"></i>Title Search.pdf</span>
            </div>
        </div>
        <div class="parcel-id-container" >
                <div class="sub-headings">Additional Information</div>
                <div>
                    <div class="parcel-id-item">
                        <span class="parcel-id-number-label">PURPOSE</span>
                        <span class="parcel-id-number">Refinance</span>
                    </div>
                    <div class="parcel-id-item">
                        <span class="parcel-id-number-label">BORROWER</span>
                        <span class="parcel-id-number">Colin S. Adamson</span>
                    </div>
                    <div class="parcel-id-item">
                        <span class="parcel-id-number-label">PARCEL ID</span>
                        <span class="parcel-id-number">000092-011239</span>
                    </div>
                </div>
            </div>
        <div class="parcel-id-container">
            <div class="sub-headings">Pricing</div>
            <div class="pricing-item">
                <div class="parcel-id-item">
                    <span class="parcel-id-number-label">DESCRIPTION</span>
                    <span class="parcel-id-number">Order Parcels</span>
                </div>
                <div class="parcel-id-item">
                    <span class="parcel-id-number-label">COST PER UNIT</span>
                    <span class="parcel-id-number">$45.00</span>
                </div>
                <div class="parcel-id-item">
                    <span class="parcel-id-number-label">UNITS</span>
                    <span class="parcel-id-number">1</span>
                </div>
                <div class="parcel-id-item">
                    <span class="parcel-id-number-label">TOTAL</span>
                    <span class="parcel-id-number">$45.00</span>
                </div>
                <div class="parcel-id-item">
                    <span class="parcel-id-number-label">GRAND TOTAL</span>
                    <span class="parcel-id-number">$45.00</span>
                </div>
            </div>
        </div>
        
    </div>
<!-- </div> -->