.nav-content > .fade > .order-tab-fade {
    display: none !important ;
}
.order-detail-module-cotainer .ord-detail-overview {
    background:#F4F5F8 !important;
    border: none;
}
.order-detail-module-cotainer{
    border-radius: 4px;
    margin-top: 10px;
    width: 82%;
    min-height: 80vh;
}
.order-detail-module-cotainer .overview-holder {
    background:none;
    border:none
}
.tab-background{
    background: white;
    padding: 30px 27px;
    border: 1px solid #a1a1a138;
    border-radius: 4px;
    min-height: 70vh;
}