<div class="products-container">
    <!-- <div class="close-order-products">x</div> -->
    <div class="product-item" (click)="selectProductType('Current_Owner_Search')">
        <span class="product-name">Current Owner Search</span>
        <div class="product-description">Current owner rundown forward from and including current vesting document with
            all supporting documentation.
        </div>
    </div>
    <div class="product-item" (click)="selectProductType('Current_Owner_Search_Plus')">
        <span class="product-name">Current Owner Search Plus</span>
        <div class="product-description">Current owner rundown forward from and including current vesting document with
                all supporting documentation.</div>
    </div>
    <div class="product-item" (click)="selectProductType('Two_Owner_Search')">
        <span class="product-name">Two Owner Search</span>
        <div class="product-description">Two owner rundown forward from and including current vesting document and all
            deeds leading back to prior owner's vesting document, with all supporting documentation.</div>
    </div>
    <div class="product-item" (click)="selectProductType('Two_Owner_Search_Plus')">
        <span class="product-name">Two Owner Search Plus</span>
        <div class="product-description">Two owner rundown forward from and including current vesting document and all
                deeds leading back to prior owner's vesting document, with all supporting documentation.</div>
    </div>
    <div class="product-item" (click)="selectProductType('Full_Search')">
        <span class="product-name">Full Search</span>
        <div class="product-description">Full search including current vesting document and deed chain with all
            supporting documentation. The search period is based upon state standards and customs. Includes entry of
            chain of title, legal description, requirements, and exceptions</div>
    </div>
    <div class="product-item" (click)="selectProductType('Full_Search_Plus')">
        <span class="product-name">Full Search Plus</span>
        <div class="product-description">Full search including current vesting document and deed chain with all
                supporting documentation. The search period is based upon state standards and customs. Includes entry of
                chain of title, legal description, requirements, and exceptions</div>
    </div>
    <div class="product-item" (click)="selectProductType('Update')">
        <span class="product-name">Update</span>
        <div class="product-description">Performed starting from the completion of the previous title search to look
            for documents recorded in the gap period. Typically performed prior to a closing, but can be ordered at any
            time as needed.</div>
    </div>
    <div class="product-item" (click)="selectProductType('Commitment_Typing')">
        <span class="product-name">Commitment Typing</span>
        <div class="product-description">Keying of Deed, Tax, Mortgage, Legal and Judgement information into client
            system based on search package provided to generate Commitment or Property Report.
        </div>
    </div>
    <div class="product-item" (click)="selectProductType('DocumentRetrieval')">
        <span class="product-name">Document Retrieval</span>
        <div class="product-description">Obtain and deliver the requested documents.
        </div>
    </div>
    <div class="product-item" (click)="selectProductType('Search_30_years')">
        <span class="product-name">30 years Search</span>
        <div class="product-description">All deeds transfer in chain of title of all owners within the last thirty (30)
            years or more. Includes entry of chain of title, legal description, requirements, and exceptions.</div>
    </div>
    <div class="product-item" (click)="selectProductType('Search_Plus_30_years')">
        <span class="product-name">30 years Search Plus</span>
        <div class="product-description">All deeds transfer in chain of title of all owners within the last thirty (30)
                years or more. Includes entry of chain of title, legal description, requirements, and exceptions.</div>
    </div>
</div>