<div class="sub-header-holder">
  <div class="sub-head-nav">
    <ul class="nav nav-pills">
      <li class="nav-item active">
        <a class="nav-link" >Open()</a>
      </li>
      <li class="nav-item">
        <a class="nav-link">Submitted()</a>
      </li>
      <li class="nav-item">
        <a class="nav-link">Clarification()</a>
      </li>
      <li class="nav-item">
        <a class="nav-link">Completed()</a>
      </li>
      <li class="nav-item">
        <a class="nav-link">Cancelled()</a>
      </li>
    </ul>
  </div>
  <div class="sub-header-actions">
    <span class="fa fa-search sub-header-search" (click) ="showSearch($event)" ></span>
    <span class="fa fa-bars sub-header-menu"></span>
      <!-- <div class="sub-head-tab">
          <ul class="nav nav-pills">
              <li class="nav-item active">
                <a class="nav-link text-grey font18 list-tab-border" (click) = "customEvent.emit('list')" >List</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-grey font18 card-tab-border" (click) = "customEvent.emit('card')">Card</a>
              </li>
          </ul>
      </div>
      <div style="position:relative;">
        <button class="btn sub-header-button font18">Activity</button>
        <span class="activity-count">5</span>
      </div> -->
  </div>
</div>