.sub-header-holder{
    width: 100%;
    background: #fff;
    display: flex;
    align-items: center;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.07), 0 6px 20px 0 rgba(0, 0, 0, 0.15);
    padding: 15px 20px;
    margin-bottom: 10px;
}
.sub-head-nav .nav > li > a:active , .sub-head-nav .nav > li >:hover {
    background: #F4F4F8;
    cursor: pointer;
    color: #61BCF2;
    border-radius: 50px;
    font-size: 14px;
    padding: 6px 16px;
}
.sub-head-nav .nav > li.active > a{
    background: #F4F4F8;
    cursor: pointer;
    color: #61BCF2;
    border-radius: 50px;
    font-size: 14px;
    padding: 6px 16px;
}
.sub-head-nav > ul > li >a{
    font-size: 14px;
    color: #667378;
    padding: 6px 16px;
    font-weight: bold;
}
.sub-header-search{
    font-size: 16px;
    opacity: 0.7;
    cursor: pointer;
    padding: 0 30px;
}
.sub-head-tab {
    width: 150px;
    height: 47px;
}
.sub-head-tab .nav > li > a:active , .sub-head-tab .nav > li >:hover {
    background: #a5a3a3;
    border: 1px solid #bcbcbc;
    cursor: pointer;
}
.sub-head-tab .nav > li{
    margin-left: 0px;
}
.card-tab-border{
    border-radius: 0px 6px 6px 0px;
}
.list-tab-border{
    border-radius: 6px 0px 0px 6px;
}
.sub-head-tab .nav > li > a{
    border: 1px solid #bcbcbc;
    cursor: pointer;
    border-left: none;
}
.sub-head-tab .nav > li.active > a{
    background: #a5a3a3;
    border: 1px solid #bcbcbc;
    cursor: pointer;
}
.sub-header-button{
    width: 115px;
    height: 47px;
    background: #A7A7A7;
    border-radius: 6px;
    color: #FFF;
}
.activity-count{
    background: white;
    font-size: 20px;
    color: #7b7b7b;
    position: absolute;
    top: -8px;
    right: -10px;
    width: 31px;
    height: 31px;
    border-radius: 50%;
    text-align: center;
    padding: 3px;
    border: 1px solid #707070;
}
.sub-header-actions{
    position: absolute;
    right: 25px;
}
.sub-header-menu{
    color: black;
    font-size: 18px;
}