<div class="search-container">
    <form>
        <div class=" text-center" style="position:relative">
            <span><i class="fa fa-search search-icon"></i></span>
            <input class="search-bar-input" placeholder="Find Orders">
            <span class="search-close">X</span>
        </div>
        <div class="search-filters-container text-center">
            <select class="search-select">
                <option value="" hidden>Product Type</option>
                <option>Current Owner Search</option>
                <option>Current Owner Search Plus</option>
                <option>Two Owner Search</option>
                <option>Two Owner Search Plus</option>
                <option>Full Search</option>
                <option>Full Search Plus</option>
            </select>
            <select class="search-select">
                <option value="" hidden>Order Status</option>
            </select>
            <select class="search-select">
                <option value="" hidden>County</option>
            </select>
            <select class="search-select">
                <option value="" hidden>State</option>
            </select>
        </div>
    </form>
</div>