.chat-heading{
    font-size: 22px;
    color: #00171F;
    display: block;
    margin-bottom: 20px;
    font-weight: bold;
}
.activity-day {
    font-size: 14px;
    font-weight: bold;
    color: #A1A1A1;
    padding-bottom: 5px;
}
.activity-item{
    padding: 20px;
    margin-bottom: 10px;
    position: relative;
    border-radius: 4px;
    background: #F4F5F8;
    border: 1px solid #a1a1a138;
    display: flex;
    align-items: center;
}
.activity-image{
    font-size: 30px;
    color: #007EA7;
}
.activity-description{
    color: #A1A1A1;
    font-size: 16px;
    font-weight: bold;
    padding-left: 30px;
}
.activity-time{
    font-size: 12px;
    color: #A1A1A1;
    margin-left: auto;
}
.activity-ref-number{
    font-size: 16px;
    color: #324857;
    padding-left: 5px;
    padding-right: 10px;
    font-weight: bold;
}